<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>
<body>
    <form action="/result" method="post">
        <label for="Name">Name</label>
        <input name="Name" type="text">
        <label for="Location">Location</label>
        <input name="Location" type="text">
        <label for="Language">Language</label>
        <input name="Language" type="text">
        <label for="Comment">Comment</label>
        <input name="Comment" type="text">
        <input type="submit" value="Send">
    </form>
</body>
</html>